.produtosList {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sectionproduto {
    display: flex;
}

.bodyproducts {
    max-width: 100%;
    overflow: auto;
    flex-wrap: wrap;
}

.pagination {
  justify-content: center;
  margin: auto;
}
.listProduct {
    overflow: scroll;
}

@media(max-width: 500px) { 
    .bodyproducts {
     height: 100vh;
    }
    .listProduct {
      height: 70vh; 
    }
  }