.producstCarrosel {
   border-top: 5px solid black ;
   padding: 55px 5%;
   justify-content: center;
   height: 100%;
}

@media(max-width: 1000px) { 
    .producstCarrosel {
        padding: 1px 1px;
    }
  }

