.producstCarrosel {
   border-top: 5px solid black ;
   padding: 55px 5%;
   justify-content: center;
   height: 100%;
}

@media(max-width: 900px) { 
    .producstCarrosel {
        padding: 55px 10px;
    }
  }

  @media(max-width: 1000px) { 
    .producstCarrosel {
        padding: 10px 20%;
    }
  }
