.card {
 margin-left: 0px;
}

.cardBody {
  text-align: center;
  background-color: rgba(201, 199, 196, 0.278);
  width: 100%;
  margin-top: 20px;
  height: 100%;
}

.cardTitle {
  color: white;
  margin-top: -30px;
  margin-bottom: -4px;
  font-size: 30px;
}

.cardImg {
  transition: 2s;
  height: 200px;
 }

.cardImg:hover {
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

