footer {
  display: flex;
  bottom: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background-color: rgb(170, 137, 120);
  border-top: 9px solid white;
  height: 100%;
  width: 100vw;
  color: antiquewhite
}

.blackLine {
  width: 100%;
  background-color: black;
  height: 10px;
}

.logo_footer img {
  height: 20vh;
  padding-right: 10px;
}

.boxredes {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding-right: 45px;
}

.boxredes a {
  padding-right: 25px;
}