@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arsenal&family=Rajdhani:wght@300;400&family=Syncopate&family=Teko:wght@300&family=Viaoda+Libre&display=swap');

header {
  background-color: rgb(195, 188, 188);  
  width: 100vw; 
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subMenu {  
  background-color: black;
  width: 100vw;
  color:black;
  display: flex;
  flex-direction: column;
}

.link_subMenu  {
  display: flex;
  justify-content: space-around;
}

.link_subMenu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link_subMenu a:hover {
  text-decoration: overline;
}

.logo_header img {
  height: 150px;
}

.menu_Header {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}
.menu_Header a {
  margin-left: -5px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-family: 'Viaoda Libre', cursive;
}

.menu_Header a :hover {
 color: black;
}

.links_header {
  width: 100vh;
  justify-content: center;
}

.dropdown_option {
  display: flex;
  flex-direction: column;
  position: absolute;
}