@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arsenal&family=Rajdhani:wght@300;400&family=Syncopate&family=Teko:wght@300&family=Viaoda+Libre&display=swap');

header {
  background-color: antiquewhite; 
  width: 100vw; 
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid brown;
}

.subMenu {  
  background-color: rgb(89, 42, 42);
  width: 100vw;
  color:rgb(249, 245, 241);
  display: flex;
  flex-direction: column;
}

.link_subMenu  {
  display: flex;
  justify-content: space-around;
}

.link_subMenu a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link_subMenu a:hover {
  text-decoration: overline;
  color: white;
}

.logo_header img {
  height: 150px;
}

.menu_Header {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}
.menu_Header a   {
  margin-left: -5px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(95, 54, 6);
  font-size: x-large;
  font-family: 'Viaoda Libre', cursive;
}

.menu_Header button   {
  margin-left: -5px;
  padding-right: 10px;
  text-decoration: none;
  background-color: rgb(250, 235, 215);
  border: none;
  color: rgb(95, 54, 6);
  font-size: x-large;
  margin-right: 10px;
  font-family: 'Viaoda Libre', cursive;
}

.menu_Header button:hover {
  color: rgb(184, 171, 171);
 }

.menu_Header a :hover {
 color: rgb(184, 171, 171);
}

.links_header {
  width: 100vh;
  justify-content: center;
}

.dropdown_option {
  display: flex;
  flex-direction: column;
  position: absolute;
}

@media(max-width: 500px) { 
  .menu_Header a {
    font-size: large;
  }
  .menu_Header button {
    font-size: medium;
  }
}
