.img1 {
  height: 85vh;
  width: 100%;
}

.titulo_img {
  background-color: rgba(128, 128, 128, 0.365);
}

.text_img {
  background-color: rgba(128, 128, 128, 0.365);
}

@media(max-width: 500px) { 
  .img1 {
    height: 30vh;
    width: 100%;
  }
}
